<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <th:block th:insert="~{fragments/header.html :: head}"/>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>

<div class="container">
    <h1>Fiche du joueur</h1>
    <table class="table table-bordered table-striped table-dark text-center">
        <thead>
        <tr>
            <th> Nom</th>
            <th> Prénom</th>
            <th> Rang </th>
        </tr>
        </thead>
        <tbody>
        <tr th:fragment="user" th:each="user : ${user}">
            <th scope="row" th:text="${user.getLastName()}"></th>
            <td th:text="${user.getFirstName()}"></td>
            <td th:text="${user.getCurrentRanking()}"></td>

        </tr>
        </tbody>
    </table>
    <a th:href="@{/user/edit/{id}(id = ${user.getId()})}" class="btn btn-outline-info">Edit</a>
    <a th:href="@{/game}" class="btn btn-outline-info">Voir Match</a>
</div>
</body>
</html>